/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env
public/uploads/
public/packages/
resources/lang/vendor/
public/watermark/watermark.png
